<div class="px-4 sm:px-6 lg:px-8">
    <%= render partial: "shared/heading", locals: {title: "Messages (#{@messages.count})", tagline: "Below are recent messages you've received from website visitors."} %>
    
    <div class="text-right">
      <a href="<%= messages_path(format: 'csv') %>" class="underline text-brand-blue">Export CSV</a>
    </div>

    <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Created</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Content</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @messages.each do |message| %>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= message.created_at %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= message.name %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= message.email %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= message.content %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
