<%= form_with(model: widget, class: "contents") do |form| %>
  <% if widget.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

      <ul>
        <% widget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: 'Personal blog', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <small>This won't be shown to your visitors.</small>
  </div>

  <div class="my-5">
    <%= form.label :welcome_message %>
    <%= form.text_field :welcome_message, placeholder: 'Send me a note!', onkeyup: 'previewWelcomeMessage(this)', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :thanks_message %>
    <%= form.text_field :thanks_message, placeholder: 'Thanks for your message!', onkeyup: 'previewThanksMessage(this)', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <small>Shown to your visitors after they submit a message.</small>
  </div>

  <div class="my-5">
    <%= form.label :background_color %><br>
    <%= form.color_field :background_color, onchange: 'previewBackgroundColor(this)' %>
  </div>
  
  <div class="my-5">
    <%= form.label :font_color %><br>
    <%= form.color_field :font_color, onchange: 'previewFontColor(this)' %>
  </div>

  <div class="my-5">
    <%= form.label :shape, 'Widget Icon Shape' %><br>

    <span onclick="setShape(this)" class="circle mr-2 cursor-pointer <%= maybe_preselect(widget, 'circle') %>" data-shape="circle"></span>
    <span onclick="setShape(this)" class="square mr-2 cursor-pointer <%= maybe_preselect(widget, 'square') %>" data-shape="square"></span>
    <span onclick="setShape(this)" class="rectangle mr-2 cursor-pointer <%= maybe_preselect(widget, 'rectangle') %>" data-shape="rectangle"></span>

    <script type="text/javascript">
      function setShape(el) {
        resetSelectedShape();

        let shape = el.dataset.shape;
        el.classList.add('shape-selected');
        document.getElementById('widget_shape').value = shape;
      }

      function resetSelectedShape() {
        Array.from(document.getElementsByClassName('shape-selected')).forEach(function(el) {
          el.classList.remove('shape-selected');
        })
      }
    </script>

    <%= form.text_field :shape, type: "hidden" %>
  </div>

  <div class="my-5">
    <%= form.label :location, 'Page Corner' %>
    <%= form.select :location, [['Bottom Right', 'bottom_right'], ['Bottom Left', 'bottom_left']], {}, class: "mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
  </div>

  <div class="my-5">
    <%= form.label :avatar %><br>
    <%= form.file_field :avatar %>
  </div>

  <div class="my-5">
    <%= form.label :enabled %>
    <%= form.check_box :enabled, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
