<div id="<%= dom_id widget %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= widget.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Welcome message:</strong>
    <%= widget.welcome_message %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Background color:</strong>
    <%= widget.background_color %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shape:</strong>
    <%= widget.shape %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= widget.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Enabled:</strong>
    <%= widget.enabled %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= widget.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this widget", widget, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this widget', edit_widget_path(widget), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
